<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="n">
        <activity
            android:name=".ui.PaymentActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/kvell_AcquiringTheme"
            android:windowSoftInputMode="adjustResize"/>
    </application>
</manifest>